.power_btn {
	margin:auto;
	width:50%;
	padding-top:2%;
	display:block;
}
.vol_up_btn {
	margin:auto;
	width:30%;
	padding-right:18%;
	padding-left:2%;
	float:right;
}
.vol_down_btn {
	margin:auto;
	width:30%;
	padding-right:2%;
	padding-left:18%;
	float:left;
}
.hdmi_input_btn {
        margin:auto;
        width:20%;
 	padding-top:10%;
	padding-right:28%;
        padding-left:2%;
        float:right;
}
.tv_input_btn {
	margin:auto;
        width:20%;
        padding-top:10%;
	padding-right:2%;
        padding-left:28%;
        float:left;
}
